@charset "utf-8";
/* CSS Document */
@media (max-width: 850px) {
	body {overflow-x: hidden;}
    /*SOBRE*/
    .empresa .grid {
        flex-direction: column;
	}
	.serviceshome .grid {
		flex-direction: column;
	}
	.contato .grid {
		flex-direction: column;
	}
	.rodape .grid {
		flex-direction: column;
	}
	/*HEADER*/
	header#cabecalho {
		position: inherit;
		height:180px;
		flex-direction: column;
	}
	/*REDES SOCIAIS*/
	section#sociais ul {
		margin-right: 0px;
		margin-bottom: 10px;
	}
	/*LOGO*/
	header img#logo {
		margin-left: 0px;
	}		
}
@media (max-width: 700px) {
/*BANNER EMPRESA*/
    .bannerempresa h1 {
        font-size: 2.5rem;
		padding: 0 20px;
    }
    .bannerempresa h3 {
        font-size: 1.5rem;
		padding: 0 20px;
	}
/*BANNER HOME*/
	.bannerhome h1 {
		font-size: 2.5rem;
		padding: 0 20px;
	}
	.bannerhome h3 {
		font-size: 1.5rem;
		padding: 0 20px;
}
	/*HEADER*/
    header {
        flex-direction: column;
    }
}
@media (max-width: 1200px) {
	/*CONTATO*/
	.contato .grid li {
		width: 100%;
		display: flex;
}
}
@media (min-width: 1200px) {
	/*CONTATO*/
	.contato input#enviar {
		margin-right:40px ;
	}
}
@media screen and (max-width: 600px) {
	
	body {overflow-x: hidden;}

	section.container{
		width:600px;
	}
	/*HEADER*/
	header#cabecalho {
		position: inherit;
		height:400px;
	}
	/*MENU*/
	#nav {
		margin-top: -3px;
	}
	#nav ul li {display:block;
		text-align:center;
	}
	#nav a {
		font-size:16px;
	}
	/*LOGO*/
	header img#logo {
		margin-top: 10px;
		margin-left: 15px;
		margin-bottom: 15px;
	}	
	/*REDES SOCIAIS*/
	header section#sociais ul {
		margin-bottom: 20px;
		margin-left: 10px;
	}
	/*EMPRESA ONEPAGE*/
	.empresa {
    padding: 150px 50px 100px 50px;
	}
	/*SERVIÇOS ONEPAGE*/
	.serviceshome {
	padding: 150px 50px 100px 50px;
	}
	/*CONTATO*/
	.contato form.form {
		display: flex;
		padding: 100px 30px;
	}
	.contato input {
		width: 300px; 
	}
	.contato textarea.textarea {
		width: 300px;
	}
	.contato input#enviar {
		margin-right: 100px;
		margin-left: 0px;
	}
}