@charset "utf-8";
/* CSS Document */

@media (max-width: 1200px) {
	/*UL CONTATO*/
	.contato .grid li {
		width: 100%;
		display: flex;
	}
}
@media (max-width: 850px) {
	/*HEADER*/
	header#cabecalho {
		position: inherit;
		flex-direction: column;
	}
	#nav a {font-size:10px;}

	/*LOGO*/
	header a.logo img#logo {margin: 25px;}
	/*REDES SOCIAIS*/
	section#sociais ul {margin: 25px;}

	/*BODY*/
	body {overflow-x: hidden;}

	/*BANNER EMPRESA*/
	.bannerempresa h1 {
		font-size: 2.5rem;
		padding: 0 20px;
	}
	.bannerempresa h3 {
		font-size: 1.5rem;
		padding: 0 20px;
	}

	/*BANNER HOME*/
	.bannerhome {
		min-height: 80vh;
		background-position: bottom;	
	}
	.bannerhome h1 {
		font-size: 2.5rem;
		padding: 0 20px;
		}
	.bannerhome h3 {
		font-size: 1.5rem;
		padding: 0 20px;
	}

	/*EMPRESA ONEPAGE*/
	.empresa {padding: 120px 30px 100px 30px;}
	.empresa .grid {flex-direction: column;}

	/*SERVIÇOS ONEPAGE*/
	.serviceshome {padding: 120px 30px 100px 30px;}
	.serviceshome .grid {flex-direction: column;}

	/*IMGS ONEPAGE*/
	.imagens {padding: 120px 30px;}
	.imagens h1 {font-size: 2.3rem;}
	.imagens h1 span {font-size: 2.8rem;}
	.imagens .imgs li {padding: 3%;}
	.imagens .imgs li.menor, .imagens .imgs li.maior {flex-basis: 100%;}

	/*CONTATO ONEPAGE*/
	.contato .grid {flex-direction: column;}
	
	.contato form {padding: 50px;}
	.contato ul.grid li.map {height: 350px;}

	/*FOOTER ONEPAGE*/
	.rodape .grid {flex-direction: column;}
}
