@charset "utf-8";
/* CSS Document */

/*RESET*/
* {
	margin: 0;
	padding: 0;
}
a, button {
	text-decoration: none; 
	cursor: pointer; 
    opacity: 0.9;
}
a:hover, button:hover {opacity: 1;}
nav, ul{list-style: none;}
/*FIM RESET*/

/*FONTES*/
@font-face {font-family:'menu'; src:url(bonvenocf-light.eot); }
@font-face {font-family:'menu'; src:url(BonvenoCF-Light.otf) format('truetype'); }
@font-face {font-family:'outro'; src:url(colabreg.eot); }
@font-face {font-family: 'outro'; src:url(ColabReg.otf) format('truetype');}
/*FIM FONTES*/

/*BODY*/
body {font-family:'outro';
    overflow-x: hidden;
    background-image:url(skewed_print.png);
}

/*HEADER*/
header#cabecalho {
    width:100%;
    background-image:url(skewed_print.png);
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/*LOGO*/
header a.logo img#logo {
    width: 120px;
    z-index: 200;
    margin: 15px;
}
/*REDES SOCIAIS*/
section#sociais ul {
	list-style-type: none;
    display: flex;	
    margin: 15px;
}
section#sociais ul li a {
	font-size: 1.5em;
	color:#ef5f26;
    padding: 8px;
}
/*MENU PRINCIPAL*/
header nav {
    font-family:'menu';
}
header nav ul {
    display: flex;
}
#nav a {
    color:#fff;
    text-decoration:none;
    font-size:15px;
    text-transform:uppercase;
    padding: 10px;
}
#nav a:hover {
    color:#00AEFF;
}
/*JS*/
#nav a.active {color:#00AEFF;}
#nav ul li a:active {color:#00AEFF;}
/*FIM HEADER*/

/*BANNER HOME*/
.bannerhome {
    background: url(home.jpg);
	background-size: cover;
    min-height: 115vh;
    color: #fff;
    display: flex;
    background-position: bottom;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.bannerhome h1 { 
    font-size: 3.2rem;
    margin-bottom: 20px;
	margin-top: 100px;
	color: #ef5f26;
}
.bannerhome h3 { 
    font-size: 2rem;
    margin-bottom: 30px;
}
.bannerhome .btn {
    background-color: #ef5f26;
    border-radius: 4px;
	color: #fff;
    padding: 20px 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/*BOTAO VOLTAR AO TOPO*/
section.top {position: absolute;}
a.top {
    padding:10px;
    position:fixed;
    top: 90%;
    right:30px;
    display:none;
    font-size: 30px;
    color: #00aeff;
}

/*BANNER EMPRESA*/
.bannerempresa {
    background: url(house.jpg);
	background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	text-align: center;
}
.bannerempresa h1 { 
    font-size: 3.2rem;
    margin-bottom: 20px;
    margin-top: 100px;
	color: #00AEFF;
}
.bannerempresa h3 { 
    font-size: 2rem;
    margin-bottom: 30px;
}
.bannerempresa .btn {
    background-color: #000;
    border-radius: 4px;
    color: #00AEFF;
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid #00aeff;
    margin-bottom: 50px;
}

/*EMPRESA*/
.empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 50px;
}
.empresa .grid { 
    width: 100%;
    display: flex;
}
.empresa .grid li {
    padding: 0 30px;
    text-align: center;
    margin-bottom: 100px;
}
.empresa .grid li i {
    color: #ef5f26;
    font-size: 50px;
    margin-bottom: 30px;
}
.empresa .grid li h4 {
    font-style: 1.5rem;
    color: #00AEFF;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.empresa .grid li p {
	color: #fff;
	text-align: center;
}

/*SERVIÇOS*/
.serviceshome {
    background-image:url(subtle_white_feathers.png);
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 150px 50px;
}
.serviceshome .grid { 
    width: 100%;
    display: flex;
}
.serviceshome .grid li {
    padding: 0 30px;
    text-align: center;
    margin-bottom: 100px;
}
.serviceshome .grid li i {
    color: #00aeff;
    font-size: 50px;
    margin-bottom: 30px;
}
.serviceshome .grid li h4 {
    font-style: 1.5rem;
    color: #ef5f26;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.serviceshome .grid li p {
	color: #242525;
	text-align: center;
}

/*IMAGENS*/
.imagens {background-image:url(skewed_print.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}
.imagens h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: #ef5f26;
    text-align: center;
}
.imagens h1 span {
    color: #00aeff;
    font-size: 3.5rem;
}
.imagens .imgs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.imagens .imgs li {
    height: 350px;
    padding:1%;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: top;
    cursor: pointer;
}
.imagens .imgs li.menor {
    flex-basis: 40%;
}
.imagens .imgs li.maior {
    flex-basis: 55%;
}
/*CONTATO MAPA*/
.contato .grid li iframe#maps {
    width:100%;
    height:100%;
    border: none;
}
/*CONTATO ONEPAGE FORMULARIO*/
.contato form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    max-width: 800px;
    align-items: baseline;
    padding: 100px;
}
.contato .grid { 
    background-image:url(bg.png);
    display: flex;
    flex-direction: row;
}
.contato .grid li {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.contato form p{
    color:#00aeff;
    font-size:20px;
    padding: 20px;
    font-weight:bold;
}
.contato form input {
    border-radius: 4px;
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
    border:none;
    padding: 20px;
    background-color:rgba(0,0,0,.7);
    color:#eee;
    font-size: 1rem;
    margin-bottom: 20px;
}
.contato form input.tel {
    width: 50%;
    margin-bottom: 25px;
}
.contato form textarea {
    padding:20px;
    border: none;
    border-radius: 4px;
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
    color:#eee;
    font-size: 1.2rem;
    height: 150px;
    background-color:rgba(0,0,0,.7);
}
.contato button {
    padding: 20px 40px;
    background-color:rgba(0,0,0,.9);
    color:#00aeff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    width: 50%;
    text-align: center;
    align-self: flex-end;
    margin: 15px 0;
    font-size:18px;
    align-self: center;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape .grid { 
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.rodape .grid li {
    padding: 0 50px;
    text-align: center;
}
.rodape .grid li i {
    color: #ef5f26;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.rodape .grid li p {
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
}
.copy {
    height: 80px;
}
.copy p {
    font-size:12px;
    color:#ddd;
    text-align:center;
    line-height:35px;
}
